*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202120;
}
.container{
    width: 600px;
    height: 2304px;
    background-color: #fff;
}
header{
    height: 89px;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header img{
    width: 302px;
    height: 47px;
}
.click_collect_info_container{
   padding-left: 38px;
   padding-top:  51px ;
   padding-right: 48px ;
   padding-bottom: 77px;
   background-image: linear-gradient(to bottom, #1bc48a, #1fb782);
}
.click_collect_info_container h3{
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.21;
    text-align: left;
    color: #ffffff;
    margin-bottom: 28px;

}
.click_collect_info_separator{
    width: 36px;
  border: solid 2px #f5ac31;
  border-radius: 4px;
  margin-bottom: 22px;
}
.click_collect_info_container p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 42px;
}
.click_collect_info_container button{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border: 0;
    outline: none;
    width: 514px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f5ac31;
    margin: auto;
    cursor: pointer;
}
.how-use-steps-container{
    position: relative;
}
.how-use-steps-wrapper{
    width: 514px;
    position: absolute;
    background-color: #f0fdf9;
    left: 43px;
    right: 43px;
    top:-42px;
    border-radius: 33px;
    height: 1300px;
    overflow: hidden;
}
.how-use-steps-wrapper-content{
    padding-top: 76px;
}
.step-1-row{
    display: flex;
}
.step-1-col-1 {
   width: 50%;
   background-color: red;
   padding-left: 40px;
}
.step-1-col-2 {
    width: 50%;
    background-color: green;
   padding-left: 42.4px;
   display: flex;
  align-items:center;

 }
.step-1-col-1 img{
    width: 183.9px;
  height: 301.2px;
}
.step-1-col-2 h4{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #003b26;
    text-align: left;
    width: 170px;

}